---
layout: default
---
<link rel="stylesheet" href="/css/webicons-master/webicons.css">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%A, %B %-d, %Y @ %-I:%M%P" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% if page.categories %}
  	<span id="categories" class="categories"> 
		categories: {% for category in page.categories %} {{ category }}, {% endfor %}</span>
  {% endif %}
  
  <script>
      /* remove trailing comma in the categories section */
      document.getElementById ("categories").innerHTML = document.getElementById ("categories").innerHTML.substring (0, document.getElementById ("categories").innerHTML.length - 2)
      
  </script>
  
  <br/><br/><div style="float:left;"><a href="/index.html"><< back</a></div>
      {% assign tagStr = '' %}
      {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
      {% if page.shortUrl != null %}
      {% assign url = page.shortUrl %}
      {% for tag in page.tags %}
      {% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
      {% endfor %}
      {% endif %}
      <div class="social-share" style="float:right">
          Share:
          <a class="social-share-element" id="social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=OviliaZhang&hashtags={{ tagStr }}" target="_blank" title="Share this post on Twitter"><img src="{{ site.url}}/css/webicons-master/webicons/webicon-twitter-s.png" /></a>
          <a class="social-share-element fc-webicon facebook small" id="social-facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank" title="Share this post on Facebook"><img src="{{ site.url}}/css/webicons-master/webicons/webicon-facebook-s.png" /></a>
          <a class="social-share-element" id="social-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share this post on Google Plus"><img src="{{ site.url}}/css/webicons-master/webicons/webicon-googleplus-s.png" /></a>
      </div>
    {% include comments.html %}
</div>
